#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 10px; /* Add padding to the flex container */
  gap: 10px; /* Add gap between flex items */
  background-color: rgba(255, 255, 255, 0.966);
  color: black;
  border-radius: 10px; /* Adding rounded corners to the flex container */
}

.flex-container p {
  margin: 0; /* Remove default margin of the paragraph */
}

.clock-wrapper {
  margin-top: 10px; /* Add top margin between the clocks */
  text-align: center; /* Center the elements inside clock-wrapper */
  padding: 20px; /* Add some padding for better visibility */
}
